@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');

.navbar {
    background-color: #24252A;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
    color: #edf0f1;
}
.fa-bars {
    font-size: 40px;
    color: #fff;
}
.nav-link {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease 0s;

}
.nav-link:hover  {
    color: #0088a9 ;
}
.navbar-toggler-icon {
    background-color: #fff;
}
.contact-btn {
    padding: 0.45rem 1.5rem;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: inline-block;
}
.contact-btn:hover {
    background-color: rgba(0,136,169,0.8);
}
.contact-btn button {
    background: transparent;
    border: none;
    color: #fff;
}
.white {
    background: rgb(20, 177, 189);
    position: sticky;
    top: 0;
    color: #000;
}
.white .navbar-brand {
    color: #111;
}
.white a {
    color: #000;
}
.white font {
    color: #fff;
}
#hero{
    background-color: #2b2b30;
    padding: 30px 5px;
}
#hero .col-md-6 {
    margin-top: 30px;
    padding: 20px;
}
.image-col {
    padding: 16px;
    text-align: center;
}
.image-col img{
    height: 20rem;
    box-shadow: 0 3px 14px rgba(255,255,255,.7);
    border-top: 14px solid #fff;
    border-right: 14px solid #fff;
    border-bottom: 14px solid #0088a9;
    border-left: 14px solid #0088a9;
    border-radius: .5rem;
}
.textbox {
    padding: 10px 20px;
}
.textbox h4 {
    /* font-size: 23px; */
    color: #edf0f1;
    /* font-weight: 300; */
    /* padding-bottom: 5px; */
}
.textbox h1 {
    /* font-size: 50px; */
    /* font-weight: 400; */
    /* padding-bottom: 5px; */
    color: #edf0f1;
    font-family: "Ubuntu",sans-serif;
}
/* .profession {
    display: flex;
} */
.txt {
    color: #fff;
    padding-top: 16px;
    font-size: 40px;
    font-weight: 400;
}
.run-txt {
    /* padding:0; */
    /* margin-left: 20px; */
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.run-txt li {
    list-style: none;
    color:#0088a9;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -360px;
    }
}
.run-txt li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
.run-txt li span::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    height: 100%;
    width: 100%;
    background:#2b2b30;
    border-left: 3px solid #0088a9;
    animation: type 3s steps(12) infinite;
}
@keyframes type {
    40%, 60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}
.textbox a button {
    padding: 10px 40px;
    color: black;
    font-size: 18px;
    background-color: none;
    border: none;
    border-radius: 10px;
}
.textbox a button:hover {
    background-color: #0088a9;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
}
#about {
    background: #3c3c3f;
    padding: 60px 40px;
}
.about-image {
    border-radius: 10px;
}
.about-text {
    line-height: 30px;
    color: #fff;
}
.about-text h6{
    color: #0088a9;
    font-size: 25px;
}
.about-btn {
    background: #0088a9;
    color: #fff;
    padding: 10px 30px;
    position: relative;
}
.about-btn span {
   width: 0;
   height: 1px;
   position: absolute;
   bottom: 0;
   left: 0;
   background: #fff;
   transition:  .7s ease;
}
.about-btn:hover span {
    width: 100%;
}
#skills {
    padding: 30px 50px;
    background: #2b2b30;
}
.progress {
    height: 20px;
    border-radius: 10px;
}
.progress-bar {
    background: rgb(19, 117, 124);
    border-radius: 0 10px 10px 0px;
}
.skills-row {
    padding: 10px 30px;
    background-color: rgba(0,0,0,.9);
    box-shadow: 0 0 30px rgba(0,0,0,.9);
    color: #fff;
    font-size: 25px;
}
#services {
    padding: 20px 30px;
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(images/background.jpg)
    repeat fixed 100%;
    background-size: cover;
}
.fal {
    font-size: 40px;
    color: #fff;
    margin-bottom: 3px;
    transition: 1s ease-in;
}
.services-box:hover .fal {
    transform: translateY(-15px)
}
.services-box {
    height: 400px;
    border: .5px solid #0088a9;
    border-radius: 8px;
    padding: 25px 20px;
    box-shadow: 3px ​13px 14px rgba(0,0,0,.6);
    margin-top: 20px;
}
.services-box h2 {
    font-family: "Poppins",sans-serif;
    background:-webkit-linear-gradient(120deg,#ff00f7,#00d0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.services-box:nth-child(1){
    background: linear-gradient(180deg,#448fad,#121212);
}
.services-box:nth-child(2){
    background: linear-gradient(180deg,#452763,#121212);
}
.services-box:nth-child(3){
    background: linear-gradient(180deg,#793d80,#121212);
}